@charset "UTF-8";

#logomenu {
    height: 40px;
}

#fundo-amarelo {
    background-color: #fdc800;
}

.botao-amarelo {
    background-color: #fdc800 !important;
}

.botao-amarelo:hover {
    background-color: #fdc800;
    border: solid 1px #002147;
}

.btn-info {
    background-color: white !important;
}

.btn-info:hover {
    background-color: white;
    border: solid 1px #002147 !important;
}

#menu {
    background-color: #f0f4f9;
}

#secao1 {
    background-color: #f0f4f9;
}


#python {
    color: #fdc800;
}

.bg-half-light {
    background: linear-gradient(0deg, white 50%, #f0f4f9 50%);
}

#container-banner {
    background-color: #002147;
    border-radius: 20px;
    color: white;
}

.texto-grande {
    font-size: 40px;
    font-weight: bolder;
}

.texto-pequeno {
    font-size: 10px;
}

.card>.card-body>.card-title {
    color: #050a5a;
    font-size: 15px;
    font-weight: bold;

}

.card>.card-body>.card-text {
    color: #757575;
    font-size: 12px;

}

h1 {
    color: #050a5a;
    ;
}

#dep-aluno {
    color: #fdc800;
}

#fedback-aluno {
    background-color: #f0f4f9;
}

h6 {
    color: #050a5a;
}

#imagem-aluna{
    padding: 20px;
    width: 100%;
}

#aluna-topo{
    width: 20%;
}

#info-aluna{
    margin-top: -50px;
}

#texto-aluna{
    font-size: 14px;
    color: #050a5a;
}

#titulo-card-juliana{
    margin-left: -15px;
    margin-top: 8px;
}
#texto-card-juli{
    margin-left: -15px;
    font-size: 13px;
    color: #757575;
    font-weight: lighter;
}

.texto-azul{
    color: #050a5a;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-numeros{
    color: #00b2b2;
    font-weight: bold;
    font-size: 15px;
}

.img-map{
    background-image: url(../img/map.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.texto-amarelo{
    color: #fdc800;
}

#tit-form{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#input-contato{
    border-radius: 5px;
    border: solid 1px;
}

footer{
    background-color: #050a5a;
    color: white;
    font-size: 13px;
}

li{
    text-decoration: none;
}

#span-footer{
    color: black;
    font-size: 12px;
    font-weight: bold;
}

#titulo-footer{
    color: white;
    font-size: 10px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    font-family: ver[];
}